@import url("droidarabickufi.css");\


* {
    font-family: "Droid Arabic Kufi", serif;
}

.indexPhoto{
    height:50px;
    width:50px;
    border-radius:100%;
}

form .error {
    color: #ff0000;
    width: 100%;
}

.img-tbl {
    width: 100px;
    border: 1px solid #dcdcdc;
    padding: 3px;
    border-radius: 20px;
}

.content-wrapper {
    height: auto;
}
.breadcrumb-item + .breadcrumb-item::before {
    float: inherit;
}

.todo-list > li .tools {
    float: left;
}

.pagination {
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
}
.blue {
    color: #007bff;
}
.card-title {
    /* width: 110px; */
    width: 180px;
}
.card-title span {
    padding-top: 8px;
    float: right;
}
.control-btns {
    margin-top: 10px;
}
.control-btns a,
.control-btns button {
    margin: 5px;
}
.badge-completed {
    color: #fff;
    background-color: #28a745;
}
.badge-pending {
    background-color: #ffc107;
    color: #000;
}
.badge-in_progress {
    color: #fff;
    background-color: #17a2b8;
}
.badge-canceled {
    color: #fff;
    background-color: #dc3545;
}
.badge-new_trip {
    color: #fff;
    background-color: #007bff;
}
.green-txt {
    color: green;
}
.swal2-title {
    font-size: 20px !important;
}

.login-box .nav-item {
    list-style: none;
}
.callout-danger li,
.callout-danger p {
    color: #bd2130;
}
.callout-success p {
    color: #1e7e34;
}
.img-size-50 {
    border: 1px solid #dcdcdc;
    padding: 3px;
    border-radius: 100%;
    width: 65px;
    height: 65px;
}
.login-page {
    background: url(../../front/images/banner-back.png) no-repeat bottom;
}

.reg_frm .form-group {
    margin-bottom: 20px;
}

.reg_frm .form-group label {
    font-weight: bold;
    margin-bottom: 10px;
}

#togglePassword,
#togglePasswordOld,
#togglePasswordNew,
#togglePasswordOldConfirm,
#toggleMoneyPassword,
#toggleMoneyPasswordOld,
#toggleMoneyPasswordNew,
#toggleConfirmMoneyPassword {
    margin-right: 10px;
    margin-top: -27px;
    float: right;
    cursor: pointer;
}
.timeline_item {
    background-color: #007bff;
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    list-style: none;
}
.timeline_item a {
    color: #fff;
}

/*  UI Edits */

@media only screen and (max-width: 600px) {
    .card-body .col-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .form_wrapper {
        flex-direction: column-reverse;
    }
    .form_wrapper .col-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .form_wrapper .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .form_wrapper2 {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .form_wrapper2 .col-md-10.row {
        width: 100%;
        align-items: center;
    }
    .form_wrapper2 .col-md-10.row .form-control {
        margin: 10px 0;
        width: 75%;
    }
    .form_wrapper2 .col-md-10.row .btn-primar {
        width: 22%;
        /* height: 30px; */
        height: calc(2.25rem + 2px);
    }
    .form_wrapper2 .col-md-10.row .col-md-2 .form-control {
        margin: 10px 0;
        width: 100%;
    }
    .card-body.row label {
        width: 100%;
    }

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

.table td,
.table th {
    white-space: nowrap;
}

.timeline_item_canceled {
    background-color: red !important;
    display: none !important;
}

.password-div a {
    color: #fff;
}








/*update*/

.btn-primary {
    color: #fff !important;
border-radius: 50px;
/* background: var(--good, linear-gradient(90deg, rgba(226, 67, 147, 0.77) -28.35%, rgba(92, 179, 230, 0.88) 130.98%)) !important; */

box-shadow: 0px 4px 8px 0px rgba(245, 130, 41, 0.16)  !important;
border-color: transparent  !important;
min-width:100px;
}


.btn-info {
    color: #fff !important;
    background-color:rgba(92, 179, 230, 0.88) !important;
    border-color: rgba(92, 179, 230, 0.88) !important;
}


.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
/* background: var(--good, linear-gradient(90deg, rgba(226, 67, 147, 0.77) -28.35%, rgba(92, 179, 230, 0.88) 130.98%)) !important; */

box-shadow: 0px 4px 8px 0px rgba(245, 130, 41, 0.16)  !important;
border-color: transparent  !important;
}


.breadcrumb-item a{

   color: rgba(92, 179, 230, 0.88);
}

.breadcrumb-item.active {
    color: var(--Text1, #333);

font-size: 16px;
font-weight: 500;
}

footer a{
     color: rgba(92, 179, 230, 0.88);
  
}

.row{
    align-items: center;
}
.navbar-nav{
      align-items: center;
  
}



.card-header a{
    color: rgba(92, 179, 230, 0.88);
}
.card-primary.card-outline {
    border-top: 3px solid rgba(92, 179, 230, 0.88);
}
p a{
    color: rgba(92, 179, 230, 0.88);
}
.login-page {
    background: unset;
}
.login-box .col-12 .btn{
    display:none !important;
}

.card-header .btn-primary{
    color: #fff !important;
}
.btn-success {
    color: #fff !important;
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}
.btn-danger {
    color: #fff !important;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}
.navbar-white {
    background-color: #343a40 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.sidebar-collapse .brand-link img{
    width:20px;
    height:20px;
}

.main-sidebar{
    overflow-y:auto !important;
    height :unset !important;
}